.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #0c9718;
    border-radius: 10px;
}

.todo-app {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(66, 185, 240);
    
}

#list-container {
    list-style-type: none;
    padding: 0;
}

#list-container li {
    padding: 10px;
    border: 1px solid #c58f8f;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #0c9718;
}

#list-container li span {
    cursor: pointer;
    margin-left: 10px;
    color: red;
    font-weight: 300;
    font-size: large;
}

#list-container li input[type="text"] {
    margin-top: 5px;
    display: block;
    width: calc(100% - 22px); 
    padding: 5px;
}

#list-container li ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    padding-left: 20px; 
}

#list-container li ul li {
    background-color: #9c6464;
    margin: 3px 0;
}
body{
    background:rgb(184, 148, 101);
}
ul li{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}

.checked{
    color: black;
}
    
    
    

